charset-normalizer==3.3.0
datasets==2.14.5
intel-extension-for-pytorch==1.13.100
neural-compressor==2.1.1
peft==0.3.0
protobuf==4.24.4
python-dateutil==2.8.2
torch==1.13.1
torchvision==0.14.1
transformers[torch]==4.34.0
