charset-normalizer~=3.1.0
datasets~=2.12.0
intel-extension-for-pytorch==1.13.100
neural-compressor==2.1.1
protobuf~=4.23.2
python-dateutil~=2.8.2
torch==1.13.1
torchvision==0.14.1
transformers[torch]~=4.30.0

