dill==0.3.7
intel-tensorflow==2.14.0
neural-compressor==2.4.1
numpy==1.24.3
tensorflow-datasets==4.9.2; python_version=='3.8'
tensorflow-datasets==4.9.3; python_version>'3.8'
tensorflow-hub==0.15.0
transformers==4.38.0
