intel-tensorflow==2.10.0
numpy>=1.22,<1.24  # TODO: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/pip_package/setup.py#L96-L97
neural-compressor==1.14.2
setuptools<66
tensorflow-datasets~=4.8.2
tensorflow-hub~=0.12.0
