Pillow~=9.5.0
dill~=0.3.6
intel-extension-for-pytorch==1.13.100
numpy~=1.23.5
prettytable~=3.7.0
PyYAML~=6.0
scikit-learn-intelex==2023.1.1
torch==1.13.1+cpu --index-url https://download.pytorch.org/whl/cpu
torchvision==0.14.1+cpu --index-url https://download.pytorch.org/whl/cpu
tqdm~=4.65.0
