gin-config==0.5.0
intel-tensorflow==2.9.1
ipywidgets==7.6.5
jmespath==0.7.1
matplotlib==3.5.1
notebook==6.4.11
pandas==1.4.2
pyyaml<6.0.0,>=5.4.1
scipy==1.8.0
sentencepiece==0.1.96
tensorflow-addons==0.15.0
tensorflow-datasets==4.5.2
tensorflow-hub==0.12.0
